[Unit]
Description=Vaani Speech Assistant
After=network.target

[Service]
Type=simple
ExecStart=/home/rpi/vaani/vaani
WorkingDirectory=/home/rpi/vaani
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target 
